<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Merch Formula 1 va ofera o gama larga de produse perfecte pentru a va sustine soferul si echipa preferata.">
        <meta name="keywords" content="Formula 1, F1, Formula1, Ferrari, Red Bull, Mercedes, McLaren, Alpha Tauri, Alfa Romeo, Haas, Williams, Verstappen, Hamilton, Vettel, Ricciardo, Russel, Alonso, Leclerc, Ocon, Norris, Schumacher, Senna, hanorac, tricou, Grand Prix, echipe, șoferi">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Merch Formula 1</title>
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragments/head") %>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragments/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Marimi: <span class="ingrediente"><%- locals.prod.marimi %> </span></p>
                    <p>Reducere <span class="gramaj"><%- locals.prod.procent_reducere %> </span>%</p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Pentru copii: <span class="pt_diabetici"><%- locals.prod.pt_copii %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragments/footer") %>
    </body>
</html>